* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-color: hsl(40, 100%, 97%);
  background-image: linear-gradient(135deg,
      hsl(175, 70%, 80%) 0%,
      hsl(40, 100%, 97%) 100%);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

h1 {
  color: hsl(175, 70%, 100%);
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  user-select: none;
  animation: fadeIn 1s ease-in-out;
  box-shadow: 0 0 20px rgba(0, 200, 255, 0.3);
  background-color: hsl(175, 70%, 66%);
  
}

.board {
  display: none;
  flex-direction: column;
  gap: 0px;
  border: 5px solid black;
  border-radius: 15px;
  width: fit-content;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: hsl(40, 100%, 97%);
  animation: fadeIn 1s ease-in-out;
  margin-left: 0px;
  margin-right: 0px;
  
}

.row {
  display: flex;
  gap: 0px;
}

.row p {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  font-weight: bold;
  color: hsl(175, 70%, 50%);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  background-color: hsl(175, 70%, 96%);
  
}

.row p:hover {
  background-color: hsl(175, 70%, 92%);
}

.play-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
  user-select: none;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.play-buttons button,
#restart-btn {
  font-size: 1.2rem;
  background-color: hsl(175, 70%, 66%);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.play-buttons button:hover {
  background-color: hsl(175, 70%, 56%);
}

.play-buttons button:active {
  background-color: hsl(175, 70%, 46%);
}

dialog {
  border: none;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: hsl(40, 100%, 97%);
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
  user-select: none;
  width: 300px;
  max-width: 90%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.2rem;
  color: hsl(175, 70%, 56%);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  user-select: none;
  z-index: 10;
  position: relative;
  top: 20%;
  animation: slideDown 0.3s ease-in-out;
}

#result-dialog {
  width: 300px;
}

#result-dialog button {
  width: 150px;
  border-radius: 15px;
}

#playFirst-dialog {
  width: 220px;
}

#playFirst-dialog button {
  width: 50px;
}

dialog button {
  font-size: 1rem;
  background-color: hsl(175, 70%, 56%);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  font-weight: bold;
  width: 100px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

dialog button:hover {
  background-color: hsl(175, 70%, 56%);
}

dialog button:active {
  background-color: hsl(175, 70%, 46%);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  animation: fadeIn 0.3s ease-in-out;
}

dialog:not([open]) {
  display: none;
}

.cell.marked {
  animation: simplePop 0.2s ease-out;
}

@keyframes simplePop {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

input {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
}

input:focus {
  outline: none;
  border: 1px solid hsl(175, 70%, 46%);
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.player-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 93px;
  max-height: 148px;
}

#p1Marker,
#p2Marker {
  color: hsl(175, 70%, 96%);
  font-size: 5rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  user-select: none;
  animation: fadeIn 1s ease-in-out;
}

#p1Status,
#p2Status {
  color: hsl(175, 70%, 56%);
  width: 95px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  user-select: none;
  animation: fadeIn 1s ease-in-out;
}

.turn {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: hsl(175, 70%, 100%);
  background-color: hsl(175, 70%, 66%);
  padding: 0px 20px;
  border-radius: 25px;
  transition: background-color 0.3s;
  animation: fadeIn 1s ease-in-out;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}